.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 24px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 6px 6px 10px #969696, -6px -6px 10px #ffffff;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  &.large {
    height: 380px;
  }

  &:hover {
    cursor: pointer;

    & .content {
      opacity: 0.9;
      box-shadow: inset 10px 10px 57px #a6a6a6, inset -10px -10px 57px #ffffff;
    }

    & .image-background {
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .image-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #efefef;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 2px 2px 10px #c9c9c9, -2px -2px 10px #ffffff;
    opacity: 0.7;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
